// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Studio Pro';
//     src: local('DM Sans');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }