body {
    background-color: var(--color-green);
    font-family: InterTight, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    color: var(--color-whight);
    overflow-x: hidden;
}

a,
button,
input,
svg * {
    transition-duration: var(--transition-duration);
}


a {
    @include reset-link;
}

h1 {
    @include fluid-text(16, 76);
}

h2 {
    @include fluid-text(48, 64);
}

h3 {
   @include fluid-text(28, 32);
 }

h1, h2, h3 {
    font-weight: 600;
    text-transform: uppercase;
}




