.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
  
}

// Скроет элемент на планшете и мобильных устройствах
.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}

// Отобразит элемент на планшете и мобильных устройствах
.visible-tablet-above {
    @include tablet-above {
        display: none !important;
    }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.product-card__name {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: var(--color-red);
}

.product-card__price {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: var(--color-dark);
}