@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "InterTight";
  src: url("./../fonts/InterTight-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterTight";
  src: url("./../fonts/InterTight-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #141414;
  --color-green: #576F35;
  --color-red: #7A3145;
  --color-whight: #FBFBFB;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --button-height: 52px;
  --button-height-small: 44px;
  --input-height: 52px;
  --border: 1px solid var(--color-whight);
  --border-radius: 30px;
  --border-radius-average: 15px;
  --border-radius-small: 12px;
  --transition-duration: 0.6s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media (max-width: 767px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-tablet-above {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.product-card__name {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--color-red);
}

.product-card__price {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--color-dark);
}

body {
  background-color: var(--color-green);
  font-family: InterTight, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-whight);
  overflow-x: hidden;
}

a,
button,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: clamp(16px, 6.4406779661vw, 76px);
}

h2 {
  font-size: clamp(48px, 5.4237288136vw, 64px);
}

h3 {
  font-size: clamp(28px, 2.7118644068vw, 32px);
}

h1, h2, h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.header {
  padding-top: 32px;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .header__logo {
    padding-left: 100px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    padding-left: 0;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__menu {
  margin-left: auto;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
}
.header__menu-link {
  border: var(--border);
  border-radius: var(--border-radius-small);
  padding: 12px;
  background-color: transparent;
}
@media (max-width: 1023px) {
  .header__menu-link {
    padding: 8px;
  }
}
.header__menu-link:hover {
  border-color: var(--color-red);
  background-color: var(--color-green);
  opacity: 0.7;
}
.header__button {
  margin-right: 40px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: var(--button-height);
  padding: 16px 32px;
  background-color: var(--color-red);
  color: var(--color-whight);
  border-radius: var(--border-radius);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-wrap: nowrap;
  border: none;
}
.button:hover {
  color: var(--color-dark);
  background-color: var(--color-whight);
}
.button-alt {
  background-color: var(--color-whight);
  color: var(--color-red);
}
.button-alt:hover {
  background-color: var(--color-dark);
  color: var(--color-whight);
}

.burger-button {
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  border-radius: var(--border-radius-small);
  position: relative;
}
.burger-button:hover {
  background-color: var(--color-green);
}
.burger-button-span {
  position: absolute;
  left: 4px;
  background-color: var(--color-whight);
  border-radius: var(--border-radius-small);
  width: 40%;
  height: 3px;
}
.burger-button-span::after, .burger-button-span::before {
  content: "";
  position: absolute;
  left: 0px;
  background-color: var(--color-whight);
  border-radius: var(--border-radius-small);
  width: 160%;
  height: 3px;
}
.burger-button-span::after {
  top: 10px;
}
.burger-button-span::before {
  bottom: 10px;
}

.tablet-overlay {
  min-height: 100vh;
  width: 45%;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-block: 0;
  margin-right: 0;
  background-color: var(--color-red);
}
@media (max-width: 480px) {
  .tablet-overlay {
    min-width: 100%;
    min-height: 100vh;
  }
}
.tablet-overlay__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 170px;
  row-gap: 200px;
}
.tablet-overlay__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.tablet-overlay__link {
  color: var(--color-whight);
}
.tablet-overlay__close-button {
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: var(--border-radius-small);
  position: relative;
  top: 16px;
  left: 90%;
}
.tablet-overlay__close-button::after, .tablet-overlay__close-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 80%;
  height: 3px;
  background-color: var(--color-whight);
  rotate: 45deg;
  border-radius: var(--border-radius-small);
}
.tablet-overlay__close-button::before {
  rotate: -45deg;
}
.tablet-overlay__close-button:hover {
  background-color: var(--color-green);
}

.organic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
}
@media (max-width: 767px) {
  .organic {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.organic-card {
  background-color: var(--color-green);
}
.organic-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 150px;
  background-color: var(--color-green);
  padding: 48px 20px;
}
@media (max-width: 1023px) {
  .organic-card-1 {
    row-gap: 100px;
  }
}
@media (max-width: 767px) {
  .organic-card-1 {
    row-gap: 25px;
  }
}
@media (min-width: 768px) {
  .organic-card-1 {
    padding-left: 100px;
    padding-right: 28px;
  }
}
@media (max-width: 480px) {
  .organic-card-1__description {
    font-size: 14px;
  }
}
.organic-card-2 {
  align-self: end;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 767px) {
  .organic-card-2 {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .organic-card-2 {
    padding: 0;
  }
}
.organic-card-2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 890px;
}
@media (max-width: 480px) {
  .organic-card-2 img {
    width: 100%;
    height: 370px;
  }
}
@media (min-width: 768px) {
  .organic-card-2 {
    width: 100%;
    height: auto;
    margin-top: -85px;
  }
  .organic-card-2 img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.organic-card-3 {
  padding: 100px;
  background-color: var(--color-red);
  height: 840px;
  display: flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .organic-card-3 {
    padding: 70px;
  }
}
@media (max-width: 767px) {
  .organic-card-3 {
    padding: 100px 64px;
  }
}
@media (max-width: 480px) {
  .organic-card-3 {
    padding: 40px 20px;
    height: 530px;
  }
}
.organic-card-3 img {
  width: 430px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .organic-card-3 img {
    width: 640px;
    height: 640px;
  }
}
@media (max-width: 480px) {
  .organic-card-3 img {
    width: 100%;
    height: 450px;
  }
}
.organic-card-4 {
  padding: 100px 100px 160px 100px;
}
@media (max-width: 1023px) {
  .organic-card-4 {
    padding: 50px 50px 80px 50px;
  }
}
@media (max-width: 767px) {
  .organic-card-4 {
    padding: 100px 160px;
  }
}
@media (max-width: 480px) {
  .organic-card-4 {
    padding: 80px 20px;
  }
}
.organic__title-main {
  font-size: clamp(32px, 6vw, 76px);
  line-height: 1;
}
@media (max-width: 480px) {
  .organic__title-main {
    font-size: 48px;
  }
}
.organic__title-small {
  padding-bottom: 25px;
}
.organic__description-4 {
  padding-bottom: 50px;
}
@media (max-width: 480px) {
  .organic__description-4 {
    font-size: 14px;
  }
}
.organic__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: custom-counter;
}
.organic-item {
  padding: 12px 24px;
  border-radius: var(--border-radius-average);
  background-color: var(--color-whight);
  color: rgba(20, 20, 20, 0.6);
  counter-increment: custom-counter;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 480px) {
  .organic-item {
    font-size: 12px;
  }
}
.organic-indicator {
  width: 42px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-red);
  flex-shrink: 0;
  outline: 5px solid rgba(122, 49, 69, 0.3);
}
.organic-indicator::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: counter(custom-counter);
  color: var(--color-whight);
  font-size: 20px;
}

strong {
  color: var(--color-dark);
}

.discount__inner {
  background-color: var(--color-whight);
  padding: 100px 60px;
}
@media (max-width: 767px) {
  .discount__inner {
    padding: 100px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .discount {
    width: 100%;
  }
}
.discount__title {
  font-size: clamp(16px, 6.4406779661vw, 76px);
  line-height: 1.05;
  color: var(--color-dark);
}
@media (max-width: 767px) {
  .discount__title {
    font-size: clamp(48px, 5.4237288136vw, 64px);
  }
}

.whight-text {
  color: var(--color-whight);
  background-color: var(--color-green);
  border-radius: var(--border-radius-small);
  padding-inline: 13px;
}
@media (max-width: 767px) {
  .whight-text {
    padding-inline: 8px;
  }
}

.product-card__inner {
  padding: 100px;
  background-color: var(--color-red);
}
@media (max-width: 767px) {
  .product-card__inner {
    padding: 100px 32px;
  }
}
@media (max-width: 480px) {
  .product-card__inner {
    padding: 80px 20px;
  }
}
.product-card__text {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  row-gap: 25px;
  margin-bottom: 50px;
}
.product-card__title {
  line-height: 1;
}
.product-card__title span {
  opacity: 0.3;
}
@media (max-width: 480px) {
  .product-card__description {
    font-size: 14px;
  }
}
.product-card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px 21px;
}
@media (max-width: 767px) {
  .product-card__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .product-card__list {
    grid-template-columns: 1fr;
  }
}
.product-card__item {
  max-width: 346px;
  height: auto;
  background-color: var(--color-whight);
  border-radius: 40px;
  padding: 32px;
}
.product-card__item:hover {
  box-shadow: 0 0 10px 15px var(--color-green);
  transition-duration: var(--transition-duration);
  transform: scale(1.03);
}
@media (max-width: 767px) {
  .product-card__item {
    max-width: 342px;
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .product-card__item {
    max-width: 334px;
    padding: 26px;
    min-width: 100%;
  }
}
.product-card__info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-weight: 600;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 100px;
  background-color: var(--color-whight);
}
@media (max-width: 1023px) {
  .reviews__inner {
    padding: 100px 40px;
  }
}
@media (max-width: 767px) {
  .reviews__inner {
    padding: 100px 32px;
  }
}
@media (max-width: 480px) {
  .reviews__inner {
    padding: 80px 20px;
  }
}
.reviews__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 553px;
  color: var(--color-dark);
}
.reviews__text-title {
  line-height: 1;
}
.reviews__text-title span {
  color: var(--color-green);
}
@media (max-width: 480px) {
  .reviews__text-description {
    font-size: 14px;
  }
}
.reviews__list {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 1023px) {
  .reviews__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .reviews__list {
    -moz-column-gap: 18px;
         column-gap: 18px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}
.reviews__item {
  max-width: 343px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
}
@media (max-width: 767px) {
  .reviews__item {
    min-width: 340px;
    scroll-snap-align: start;
  }
}
@media (max-width: 480px) {
  .reviews__item {
    min-width: 334px;
  }
}
.reviews__wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}
.reviews__icon {
  display: flex;
  justify-self: center;
}
.reviews__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  color: var(--color-dark);
}
.reviews__body-name {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 480px) {
  .reviews__body-name {
    font-size: 16px;
  }
}
.reviews__body-quote {
  opacity: 0.4;
  text-align: center;
}
@media (max-width: 480px) {
  .reviews__body-quote {
    font-size: 14px;
  }
}

.order {
  padding: 100px;
  background-color: var(--color-red);
}
@media (max-width: 1023px) {
  .order {
    padding: 100px 40px;
  }
}
@media (max-width: 767px) {
  .order {
    padding: 100px 32px;
  }
}
@media (max-width: 480px) {
  .order {
    padding: 80px 20px;
  }
}
.order__header {
  max-width: 750px;
  padding-bottom: 50px;
}
.order__title {
  line-height: 1;
  padding-bottom: 25px;
}
.order__title span {
  opacity: 0.4;
}
@media (max-width: 480px) {
  .order__description {
    font-size: 14px;
  }
}
.order__body {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1023px) {
  .order__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .order__body {
    row-gap: 25px;
  }
}
.order__form {
  max-width: 530px;
  background-color: var(--color-whight);
  padding: 50px;
  border-radius: var(--border-radius);
  width: 100%;
}
@media (max-width: 480px) {
  .order__form {
    padding: 40px 20px;
  }
}
.order__form-title {
  max-width: 428px;
  font-size: 24px;
  padding-bottom: 50px;
  color: var(--color-dark);
  line-height: 1.08;
}
@media (max-width: 480px) {
  .order__form-title {
    padding-bottom: 40px;
  }
}
.order .red {
  color: var(--color-red);
}
.order .green {
  color: var(--color-green);
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.field__input {
  border-radius: var(--border-radius);
  border: 1px solid rgba(20, 20, 20, 0.2);
  padding: 16px 120px 16px 16px;
  max-width: 430px;
}
.field__input--textarea {
  max-width: 430px;
  min-height: 95px;
  padding: 16px 120px 59px 16px;
  resize: none;
}
.field__input::-moz-placeholder {
  color: var(--color-dark);
}
.field__input::placeholder {
  color: var(--color-dark);
}
.field__input:not(:-moz-placeholder) {
  border-color: #e74a3b;
  outline: none;
}
.field__input:hover, .field__input:focus, .field__input:not(:placeholder-shown) {
  border-color: #e74a3b;
  outline: none;
}
.field__button {
  padding: 16px 120px;
  background-color: var(--color-green);
  max-width: 430px;
  width: 100%;
}
.field__button:hover {
  background-color: var(--color-dark);
  color: var(--color-wgight);
}

.soc1al {
  max-width: 527px;
  height: auto;
  background-color: var(--color-green);
  border-radius: var(--border-radius);
}
.soc1al__inner {
  display: flex;
  flex-direction: column;
}
.soc1al__image {
  max-width: 427px;
  height: auto;
  margin: 50px;
  max-width: 100%;
}
@media (max-width: 480px) {
  .soc1al__image {
    margin: 40px 20px 20px 20px;
  }
}
.soc1al__text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 0 120px 50px 50px;
  max-width: 357px;
}
@media (max-width: 480px) {
  .soc1al__text {
    margin: 0 20px 40px 20px;
  }
}
.soc1al__header {
  font-size: 18px;
  opacity: 0.5;
}
.soc1al__body {
  font-size: 32px;
  font-weight: 600;
}
.soc1al__body-link:hover {
  color: var(--color-dark);
}
@media (max-width: 480px) {
  .soc1al__body {
    font-size: 24px;
  }
}

.footer {
  padding: 50px 100px;
  background-color: var(--color-red);
}
@media (max-width: 1023px) {
  .footer {
    padding: 32px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 40px 20px;
  }
}
.footer__body {
  display: flex;
  margin-bottom: 125px;
}
@media (max-width: 480px) {
  .footer__body {
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 80px;
  }
}
.footer__logo {
  width: 265px;
}
@media (max-width: 480px) {
  .footer__logo-description {
    font-size: 14px;
    line-height: 1.29;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .footer__logo-image {
    width: 168px;
  }
}
.footer__logo-image {
  padding-bottom: 25px;
}
.footer__wrapper {
  margin-left: auto;
  display: flex;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
@media (max-width: 1023px) {
  .footer__wrapper {
    row-gap: 64px;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer__wrapper {
    margin-left: 0;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  padding-top: 0;
  max-width: 180px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-size: clamp(28px, 2.7118644068vw, 32px);
}
.footer__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 45px;
}
.footer__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background-color: var(--color-whight);
  transition-duration: inherit;
}
.footer__link:hover::after {
  width: 100%;
}
.footer__contacts {
  max-width: 215px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .footer__contacts {
    font-size: 14px;
  }
}
.footer__contacts-address {
  font-style: normal;
}
.footer__extra {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}
@media (max-width: 480px) {
  .footer__extra {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */