.burger-button {
    @include square(40px);
    @include reset-button;

    position: absolute;
    top: 16px;
    right: 16px;     
    border-radius: var(--border-radius-small);

    &:hover {
        background-color: var(--color-green);
    }

    &-span {
        position: absolute;
        left: 4px;
        background-color: var(--color-whight);
        border-radius: var(--border-radius-small);
        width: 40%;
        height: 3px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            left: 0px;
            background-color: var(--color-whight);
            border-radius: var(--border-radius-small);
            width: 160%;
            height: 3px;
        }

        &::after {
            top: 10px;
        }

        &::before {
            bottom: 10px;
        }
    }
}