.discount {
   
    &__inner {
      background-color: var(--color-whight);
      padding: 100px 60px;

      @include tablet {
            padding: 100px 13px;
            display: flex;
            justify-content: center;
            align-items: center;
      }
 }

  @include tablet {
        width: 100%;
        }

  &__title {
        @include fluid-text();
        line-height: 1.05;
        color: var(--color-dark);

        @include tablet {
           @include fluid-text(48, 64);
        }
    }
}

 .whight-text {
      color: var(--color-whight);
      background-color: var(--color-green);
      border-radius: var(--border-radius-small);
      padding-inline: 13px;

      @include tablet {
            padding-inline: 8px;
      }
}

 