.header {
    padding-top: 32px;
    position: relative;
    z-index: 10;

    @include desktop-s {
        &__logo {
            padding-left: 0;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__menu {
        margin-left: auto;

    &-list {
        display: flex;
        align-items: center;
        column-gap: 10px;
        

        @include desktop-s {
            column-gap: 5px;
        }
    }  
    
    &-link {
        border: var(--border);
        border-radius: var(--border-radius-small);
        padding: 12px;
        background-color: transparent;

        @include desktop-s {
            padding: 8px;
        }

    &:hover {
        border-color: var(--color-red);
        background-color: var(--color-green);
        opacity: 0.7;
    }
    }
    }

   &__button {
    margin-right: 40px;
   }
  

}
