.organic { 

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
     
     @include tablet {
      grid-template-columns: 1fr;
      padding: 0;
     }
    

    &-card {
        background-color: var(--color-green);
      

        &-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 150px;
            background-color: var(--color-green);
            padding: 48px 20px;

            @include desktop-s {
              row-gap: 100px;
            }

            @include tablet {
                row-gap: 25px;
            }

            @include tablet-above {
                padding-left: 100px;
                padding-right: 28px;
            }
         
            @include mobile {
              &__description {
               font-size: 14px;
              }
            }
        }

        &-2 {
          align-self: end;
          justify-content: flex-end;
          width: 100%;

        @include tablet {
   
        width: 100%;           
        height: auto;
        }

        @include mobile {
          padding: 0;
        }
    
  
      img {
      width: 100%;
      object-fit: cover;
      height: 890px;
      // margin-top: -85px;

      @include mobile {
      
        width: 100%;
        height: 370px;
      }
     }

     @include tablet-above {
    width: 100%;
    
    height: auto;
    margin-top: -85px;
    
   
    img { 
     object-fit: cover;
    }

   }
  }
        &-3 {
            padding: 100px;
            background-color: var(--color-red);
            height: 840px;
            display: flex;
            align-items: center;

            @include desktop-s {
              padding: 70px;
            }

            @include tablet {
              padding: 100px 64px;
            }

            @include mobile {
              padding: 40px 20px;
              height: 530px;
            }
           
           
              img {
                    width: 430px;
                    height: 560px;
                    object-fit: cover;
                    border-radius: var(--border-radius);
                    
                    @include tablet {
                    width: 640px;
                    height: 640px;
                    }

                    @include mobile {
                      width: 100%;
                      height: 450px;
                    }
                  }
         }

        &-4 {
            padding: 100px 100px 160px 100px;

            @include desktop-s {
              padding: 50px 50px 80px 50px;
            }

            @include tablet {
              padding: 100px 160px;
            }

            @include mobile {
              padding: 80px 20px;
            }
        }
     }


 &__title-main {
        font-size: clamp(32px, 6vw, 76px);
        line-height: 1;

        @include mobile {
          font-size: 48px;
        }
    }

 &__title-small {
    padding-bottom: 25px;
 }
  &__description-4 {
  padding-bottom: 50px;
   
  @include mobile {
    font-size: 14px;
  }
 }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    counter-reset: custom-counter;
  } 
  
  &-item {
    padding: 12px 24px;
    border-radius: var(--border-radius-average);
    background-color: var(--color-whight);
    color: rgba(20, 20, 20, 0.6);
    counter-increment: custom-counter;
    display: flex;
    align-items: center;
    column-gap: 24px;

    @include mobile {
      font-size: 12px;
    }
  }

  &-indicator {
    @include square(42px);

    position: relative;
    border-radius: 50%;
    background-color: var(--color-red);
    flex-shrink: 0;
    outline: 5px solid rgba(122, 49, 69, 0.3);
    


    &::before {
       @include flex-center;
       @include abs-center;

       content: counter(custom-counter);
       color: var(--color-whight);
       font-size: 20px;
    }
  }
}

strong {
    color: var(--color-dark);
}


   
