.soc1al {
  max-width: 527px;
  height: auto;
  background-color: var(--color-green);
  border-radius: var(--border-radius);

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__image {
    max-width: 427px;
    height: auto;
    margin: 50px;
    max-width: 100%;

    @include mobile {
      margin: 40px 20px 20px 20px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 120px 50px 50px;
    max-width: 357px;

    @include mobile {
     margin: 0 20px 40px 20px;
    }
  }

  &__header {
    font-size: 18px;
    opacity: 0.5;
  }

  &__body {
    font-size: 32px;
    font-weight: 600;

    &-link {
      &:hover {
        color: var(--color-dark);
      }
    }

    @include mobile {
        font-size: 24px;
    }
  }
}