.tablet-overlay {
    min-height: 100vh;
    width: 45%;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-block: 0;
    margin-right: 0;
    background-color: var(--color-red);

    @include mobile {
        min-width: 100%;
        min-height: 100vh;
    }

    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 170px;
        row-gap: 200px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    &__link {
        color: var(--color-whight);
    }

    &__close-button {
        @include square(40px);
        @include reset-button;

        border-radius: var(--border-radius-small);
        position: relative;
        top: 16px;
        left: 90%;

       &::after,
       &::before {
        @include abs-center;
        
        content: '';
        width: 80%;
        height: 3px;
        background-color: var(--color-whight);
        rotate: 45deg;
        border-radius: var(--border-radius-small);
       }

       &::before {
        rotate: -45deg;
       }

       &:hover {
        background-color: var(--color-green);
       }    
    }
}

